<h1>Adminのブログ詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-9">
      <h1><%= @blog.title %></h1>
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", admin_blogs_path(:tag => tag.name) %>
        <% end %>
      <% else %>
        <p>タグはありません</p>
      <% end %>
      <%= attachment_image_tag @blog, :top_image, :fill, 800, 300, format: 'jpg' %>
      <p><%= markdown(@blog.body) %></p>
      <%= render 'layouts/youtube', blog: @blog %>
      <%= attachment_image_tag @blog, :body_image %>
    </div>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
