<div class="container">
  <div class="row">
    <div class="col-9">
      <h2 class="border-bottom mb-3">新着記事</h2>
      <div class="row row-cols-2 border-bottom">
      <%= render 'layouts/blog_card', blogs: @blogs %>
      <% @blogs.each do |blog| %>
          <div class="col">
          <%= link_to blog_path(blog) do %>
            <div class="card mb-4">
              <%= attachment_image_tag blog, :top_image, :fill, 400,300, format:'jpeg', class: 'card-img-top' %>
                <div class="card-body">
                  <p class="card-title"><b><%= blog.title %></b></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
