<h1>UserのQ&A投稿ページです</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @question, url:questions_path, local:true do |f| %>
        <table class="table">
          <tbody>
            <tr class="mb-3">
              <td class="text-center"><%= f.label :title, "質問タイトル" %></td>
              <td><%= f.text_field :title, size: 100, placeholder: "タイトル名" %></td>
            </tr>
            <tr class="mb-3">
              <td class="text-center"><%= f.label :body, "質問の内容" %></td>
              <td><%= f.text_area :body, cols: 100, rows: 20, placeholder: "入力してください" %></td>
            </tr>
            <tr class="mb-3">
              <td class="text-center"><%= f.label :image, "画像(必要な場合)" %></td>
              <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.button '新規登録', type: 'button', onclick: 'submit();', class: "btn btn-success mt-3" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>