<div class="container">
  <div class="row">
    <div class="col border rounded py-3 mt-3 bg-light">
      <h1 class="pb-3 border-bottom"><%= @question.title %></h1>
      <% if user_signed_in? %>
        <% if @question.user_id == current_user.id && @question.answers.present? && @question.best_answer_id.nil? %>
          <%= link_to "ベストアンサーを選ぶ", best_select_question_path(@question) , class: 'btn btn-light float-right border' %>
        <% end %>
      <% end %>
      <%= render 'public/questions/user_data', data: @question %>
      <p><%= simple_format(@question.body) %></p>
      <% if @question.image.present? %>
        <%= attachment_image_tag @question, :image, format: 'jpeg', class:'mb-2', style:'max-width: 100%' %>
      <% end %>
      <% if user_signed_in? %>
        <div id="question-favorite-<%= @question.id %>">
          <%= render 'public/question_favorites/question_favorite', question: @question %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @question.best_answer_id.present? %>
    <div class="row">
      <div class="col border rounded mt-3 bg-light">
        <div class="row border-bottom p-3">
          <h1>ベストアンサーに選ばれた回答</h1>
        </div>
        <%= render 'public/questions/user_data', data: @best_answer %>
        <p><%= simple_format(@best_answer.body) %></p>
        <% if @question.thank.present? %>
          <div class="row border-top">
            <div class="col">
              <h4 class="pt-3"><strong>質問者からの感謝コメント</strong></h4>
              <p><%= simple_format(@question.thank) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col border rounded mt-3 bg-light">
      <div class="row border-bottom p-3">
        <h1>ユーザーの回答</h1>
        <div class="col">
          <% if user_signed_in? %>
            <% unless @question.user_id == current_user.id || @question.answed_by?(current_user) || @question.best_answer_id.present? %>
                <%= link_to "回答する", new_answer_path(@question) , class: 'btn btn-white float-right border' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @question.answers.present? %>
        <% @question.answers.each do |answer| %>
          <div class="row border-bottom">
            <div class="col">
              <%= render 'public/questions/user_data', data: answer %>
              <p class="my-3"><%= answer.body %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="my-3">まだ回答はありません</h3>
      <% end %>
    </div>
  </div>
</div>
