<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h1>3DCGbeginners</h1>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? || admin_signed_in? %>
            <% if current_page?(root_path) || request.path.include?("blogs") %>
              <%= link_to "お気に入り一覧", my_favorite_blogs_path, class: 'btn btn-light mr-3' %>
            <% elsif request.path.include?("questions") %>
              <%= link_to "投稿したQ&A一覧", my_question_questions_path , class: 'btn btn-light mr-3' %>
            <% end %>
            <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-light mr-3' %>
          <% else %>
            <%= link_to " 会員新規登録", new_user_registration_path, class: 'btn btn-light mr-3' %>
            <%= link_to " 会員ログイン", new_user_session_path, class: 'btn btn-light mr-3' %>
          <% end %>
          <%= render 'layouts/search' %>
        </ul>
      </div>
    </div>
  </nav>
  <nav>
    <ul class="nav nav-tabs bg-dark mb-2">
      <% if request.path.include?("questions") %>
        <li class="col-6 nav-item">
          <%= link_to "ニュース" , root_path, class: 'nav-link text-white' %>
        </li>
        <li class="col-6 nav-item">
          <%= link_to "Q&A" , questions_path, class: 'nav-link active' %>
        </li>
      <% else %>
        <li class="col-6 nav-item">
          <%= link_to "ニュース" , root_path, class: 'nav-link active' %>
        </li>
        <li class="col-6 nav-item">
          <%= link_to "Q&A" , questions_path, class: 'nav-link text-white' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

