<% questions.each do |question| %>
  <div class="row border-bottom mb-2">
    <div class="col">
      <%= link_to question.title, question_path(question), class: 'h4 question-title' %>
      <p class="text-secondary mb-1">
        投稿者：<%= question.user.name %>　質問日時：<%= question.created_at.strftime('%Y/%m/%d %H:%M') %>　回答：<%= question.answers.length %>件
        <% if question.best_answer_id.present? %>
          解決済み
        <% end %>
      </p>
      <p><%= question.body.truncate(50) %></p>
    </div>
  </div>
<% end %>