<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!--フラッシュメッセージ-->
    <% if flash[:notice].present? %>
      <p class="bg-info text-center text-light py-1 notice"><%= flash[:notice] %></p>
    <% elsif flash[:alert].present? %>
      <p class="bg-danger text-center text-light py-1 alert"><%= flash[:alert] %></p>
    <%end%>

    <% if current_page?(root_path) || request.path.include?("blogs") && !request.path.include?("admin") %>
      <%= render 'layouts/header_blog_slide', slide_blogs: @slide_blogs %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
